@use '@/styles/variables' as *;

.nav-menu-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--bs-border-color);
  background-color: var(--bs-dark-widget, #FAFAFA);
  cursor: pointer;

  svg {
    fill: var(--bs-text-gray-50);
    path {
      fill: var(--bs-text-gray-50) !important;
    }
  }

  [data-bs-theme="dark"] & {
    background-color: var(--bs-dark-widget, #232323);
  }
}
