// colors
$color-primary: #773DBD;
$color-primary-light:#773DBD1A;
$color-secondary:#FF5000;
$color-secondary-light:#FF500014;

$color-gray-50:#D4D4D6;
$color-gray-100:#F8F8F6;
$color-gray-200:#EEEEEE;
$color-gray-300:#F6F6F6;
$color-gray-400:#5F6368;
$color-gray-500:#f5f5f5;
$color-gray-600:#1D1F1F;
$color-gray-700:#A5A5A5;
$color-gray-800:#9DA4AE;
$color-gray-900:#FAFAFA;

$color-light-black:#161616;
$color-white:#ffffff;
$color-black:#000;
$color-black-100:#1D1F1F;
$text-primary-color:#1B1B1B;
$text-secondary-color:#333333;
$alert-green-color:#07C37B;
$alert-red-color:#C30734;
$alert-yellow-color:#F4C724;
$alert-blue-color:#229CBE;
$notification-background-color:#FF003D;
$input-border-color:#9DA4AE;
$move-background-color:#f5f0fa;
$login-before-background-color:#d7dfe9;
$btn-icon-border-color:#EAECF0;

// border radius
$border-radius-xs:4px;
$border-radius-sm:6px;
$border-radius-base:8px;
$border-radius-md:8px;
$border-radius-lg:12px;
$border-radius-xl:16px;
$border-radius-2xl:20px;
$border-radius-3xl:24px;
$border-radius-4xl:28px;
$border-radius-5xl:32px;
$border-radius-full:50%;

// font families
$font-family-primary: 'Janna LT', 'Cairo', 'Tajawal', 'Amiri', Arial, sans-serif;
$font-family-arabic: 'Janna LT', 'Cairo', 'Tajawal', 'Amiri', Arial, sans-serif;
$font-family-english: 'Janna LT', 'Cairo', 'Tajawal', Arial, sans-serif;
$font-body: $font-family-primary;

// font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// font size
$font-size-xs:0.5rem;
$font-size-xsm:0.625rem;
$font-size-sm:0.75rem;
$font-size-md:0.875rem;
$font-size-lg:1rem;
$font-size-xl:1.125rem;
$font-size-2xl:1.25rem;
$font-size-3xl:1.5rem;
$font-size-4xl:1.75rem;
$font-size-5xl:2rem;
$font-size-6xl:2.25rem;
$font-size-7xl:2.5rem;
$font-size-8xl:3rem;
$font-size-9xl:3.5rem;
$font-size-10xl:4rem;

// transition
$transition: all 0.3s ease-in-out;

// input height
$input-height: 45px;
