@font-face {
    font-family: 'Janna LT';
    src: url('JannaLT-Regular.woff2') format('woff2'),
        url('JannaLT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Janna LT';
    src: url('JannaLT-Bold.woff2') format('woff2'),
        url('JannaLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

