@use '@/styles/variables' as *;

.system-settings {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;

  &-modal {
    position: fixed;
    max-width: 150px;
    width: 100%;
    z-index: 999;
    background: var(--bs-body-bg);
    height: 100vh;
    padding: 0px;
    top: 0;
    opacity: 0;
    transform: translateX(20px);
    animation: slide-in-right 0.4s ease-out forwards;

    @media (min-width: 1200px) { max-width: 170px; }
    @media (min-width: 1400px) { max-width: 190px; }
    @media (min-width: 1650px) { max-width: 200px; }

    html[dir='rtl'] & {
      opacity: 0;
      transform: translateX(-20px);
      animation: slide-in-left 0.4s ease-out forwards;
    }

    [dir="ltr"] & {
      right: 0;
      border-left: 1px solid var(--bs-border-color);
    }

    [dir="rtl"] & {
      left: 0;
      border-right: 1px solid var(--bs-border-color);
    }

    .modal-header {
      padding: 15px;
      color: var(--bs-body-color);
      border-bottom: 1px solid var(--bs-border-color);
    }

    .system-settings-close {
      cursor: pointer;
      fill: var(--bs-text-gray-50);
      path {
        fill: var(--bs-text-gray-50) !important;
      }
    }
  }

  .settings-icon {
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
  }

  .settings-item {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 14px;
    text-decoration: none;
    color: var(--bs-gray-50);

    &:hover {
      background-color: $color-gray-500;
    }

    .item-label {
      flex-grow: 1;
      padding: 0 8px;
      color: var(--bs-gray-50);
    }
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button.btn-close {
  margin: 0 !important;
}

span.sm_title {
  padding-inline-start: 8px;
}

@keyframes slide-in-right {
  from { opacity: 0; transform: translateX(20px); }
  to   { opacity: 1; transform: translateX(0); }
}

@keyframes slide-in-left {
  from { opacity: 0; transform: translateX(-20px); }
  to   { opacity: 1; transform: translateX(0); }
}
